# Exercises Neural Networks

In [30]:
import math                                                             # Mathematical functions
import pandas as pd                                                     # Data manipulation
import numpy as np                                                      # Scientific computing

from Resources.Functions import *                                       # Custom functions

## Theoretical questions

### Question 0: Demo ANN (Artificial Neural Network)

In [29]:
# This is one Artificial Neuron with 2 inputs (1,1), 2 weights (0.3, -0.1) and 1 bias (-0.7)
inputANN = pd.array([1,1])
weightsANN = pd.array([0.3, -0.1])
biasANN = -0.7

integratie = np.dot(inputANN, weightsANN) + biasANN
print(f"Output Integration: {integratie}")

activation = 1 / (1 + math.exp(-integratie))
print(f"Output Activation: {activation}")

Output Integration: -0.5
Output Activation: 0.3775406687981454

### Question 1:
- Bouw een neuraal netwerk op om het resultaat van een student op de gapminder test te bepalen aan de hand van het aantal uren wiskunde in het laatste jaar van het middelbaar, het aantal complotheorieën waarin hij/zij gelooft (zie code vraag 1 vragenlijst les Evaluatimetrieken) en het aantal broers en zussen. Splits de gegevens op is een training en een test data set (`90-10` verhouding). Normaliseer ook de data met behulp van de decimal scaling.

- Opmerking: de variabele gapminder test bevat niet getallen. 
    - Zet de data om naar een geheel getal –integer- dat het percentage weergeeft.
    - Plaats daarna de gegevens in `5` klassen: (`0,20`), (`20,40`), (`40,60`), (`60,80`), (`80,100`).
    - Vervang de klasse door de index van de klasse.

**Name of Columns**: `gapminder` `schrijfhand` `schoenmaat` `lengte` `bloedgroep` `resus` `siblings` `Samenzweringen` `rijbewijs` `domicilie in Antwerpen` `afstudeerrichting` `vrijetijdsbesteding` `uren wiskunde` `informatica` `belangrijk` `uren buiten schooluren` `afstand tot KdG` `vervoersmiddel` `klimaatopwarming` `zakgeld` `stukken fruit` `fruitvoorkeur` `besturingssysteem` `belangrijkste app` `M1 - stelen` `M2 - team` `M3 - beschermen` `M4 - voorbeeld` `M5 - embryo` `M6 - vrijheid` `mascotte` `zwaarste vak` `boeienste vak` `studiepunt`

In [31]:
data1 = pd.read_csv('../Data/Data1.csv', delimiter=';', decimal=',')
display(data1.head())

,gapminder,schrijfhand,schoenmaat,lengte,bloedgroep,resus,siblings,Samenzweringen,rijbewijs,domicilie in Antwerpen,...,M1 - stelen,M2 - team,M3 - beschermen,M4 - voorbeeld,M5 - embryo,M6 - vrijheid,mascotte,zwaarste vak,boeienste vak,studiepunt
0,7/18,Rechts,43.0,184,O,positief,5,De tsunami van 2004 in de Indische Oceaan was ...,Categorie B: Wagens.,"buiten de stad (een dorp, een gehucht, het pla...",...,7,2,8,6,5,4.0,"1=Bever,2=Wasbeer,3=Otter,4=Wolf,5=Poema,6=Pan...",Management 1,Data science 1,16-20 uren
1,3/18,Rechts,42.0,163,Weet ik niet,Weet ik niet,1,Prinses Diana kwam niet per ongeluk om het leven,Categorie AM: Bromfietsen met een maximumsnelh...,in een stad,...,10,5,10,6,7,3.0,"1=Bever,2=Wolf,3=Bizon,4=Otter,5=Panter,6=Poem...",Management 1,Computersystemen 1,<= 10 uren
2,12/18,Rechts,45.0,183,AB,positief,2,Prinses Diana kwam niet per ongeluk om het lev...,Categorie AM: Bromfietsen met een maximumsnelh...,in een stad,...,6,3,7,7,10,6.0,"1=Bruine beer,2=Poema,3=Panter,4=Wolf,5=Vos,6=...",Management 1,Programmeren 1 - Java,16-20 uren
3,5/18,Rechts,44.0,175,A,positief,2,De wereld wordt eigenlijk gecontroleerd door e...,Categorie AM: Bromfietsen met een maximumsnelh...,in een stad,...,9,10,10,10,10,0.0,"1=Wasbeer,2=Wolf,3=Bruine beer,4=Das,5=Vos,6=B...",Management 1,Data science 1,<= 10 uren
4,6/18,Rechts,43.0,173,B,positief,3,De wereld wordt eigenlijk gecontroleerd door e...,Categorie B: Wagens.,in een stad,...,10,6,10,7,7,2.0,"1=Wolf,2=Vos,3=Bruine beer,4=Bizon,5=Panter,6=...",Management 1,Data science 1,<= 10 uren

### Question 2:
- Herneem het neuraal netwerk uit vraag 1. Maak de confusion matrix, bereken de meest gebruikte evaluatiemetrieken en teken de ROC.

### Question 3: The Simpsons Revisited
- We willen het geslacht van een Simpson kunnen voorspellen m.b.v. een neuraal netwerk (cfr. hoofdstuk Beslissingsbomen uit Data Science 1). Deze dataset is erg klein en daarom kunnen we geen validatie-set of test-set construeren. 
    - Lees de dataset (`The_Simpsons_Original.csv`) van de Simpsons in. 
    - Wat voor soort voorspelling trachten we hier te doen? Regressie of classificatie?
    - Bepaal welke kolommen we niet kunnen gebruiken bij deze voorspelling?
    - Maak nu een input training data set x_simpsons en normaliseer deze (min-max normalisatie). Doe hetzelfde voor de outputkolom(y4_simpsons).
    - Maak een neuraal netwerk met de correcte inputs en outputs. Maak een plot van het ANN.
    - Gebruik je neuraal netwerk om het geslacht van je x_simpsons te voorspellen. Komen ze overeen met de targets? Voorspel ook het geslacht van de onbekende Simpson (Comic guy: `hairlenght=8`, `weight=500`, `age=38`).. Komt dit overeen met de voorspelling die je gemaakt werd bij beslissingsbomen (zie Data Science 1)?

In [14]:
# 1
the_Simpsons_Original = pd.read_csv('../Data/The_Simpsons_Original.csv', delimiter=',')
display(the_Simpsons_Original.head())

     name  hair length  weight  age gender
0   Homer            0     250   36      M
1   Marge           10     150   34      F
2    Bart            2      90   10      M
3    Lisa            6      78    8      F
4  Maggie            4      20    1      F

In [15]:
# 2

### Question 4: Forecast demo Revisited
- We willen de opbrengsten van een bedrijf per kwartaal van de laatste 5 jaar kunnen voorspellen (cfr. hoofdstuk Forecasting uit Data Science 1). Deze dataset is erg klein en daarom kunnen we geen validatie-set of test-set construeren. 
    - Lees de dataset van de Forecasting in (`forecastdemo.csv`)
    - Wat voor soort voorspelling trachten we hier te doen? Regressie of classificatie?
    - Bepaal welke kolommen we niet kunnen gebruiken bij deze voorspelling?
    - Maak nu een input training data set x_forcast en een outputkolom (y_forcast). Normaliseer waar nodig.
    - Maak een neuraal netwerk met de correcte inputs en outputs. Maak een plot van de ANN.
    - Gebruik je neuraal netwerk om de opbrengsten te voorspellen die horen bij x_forcast. Komen ze overeen met de werkelijke opbrengsten? Maak één plot van de originele gegevens en de voorspelde gegevens.

In [16]:
# 1
forcastdemo = pd.read_csv('../Data/Forcastdemo.csv', delimiter=';')
display(forcastdemo.head())

   Year  Quarter  Revenu
0     1        1      20
1     1        2     100
2     1        3     175
3     1        4      13
4     2        1      37

In [17]:
# 2

### Question 5: Iris
- Laad de dataset iris (`iris.csv`) op en bestudeer de inhoud.
- Wat voor soort voorspelling trachten we hier te doen? Regressie of classificatie?
- Bepaal welke kolommen we niet kunnen gebruiken bij deze voorspelling?
- Maak nu een input data set x_iris en normaliseer deze. Probeer een van de normalisatietechnieken uit die je nog niet hebt gebruikt in een oefening of opdracht.
- Creëer een trainig data set en een test data set (x_train_iris en x_test_iris) die respectievelijk bestaan uit `80%` en `20%` (willekeurig gekozen) van de input data set x_iris.
- Maak een neuraal netwerk met de correcte inputs en outputs.
- Evalueer je neuraal netwerk op je test data set (x_test_iris). Welke nauwkeurigheid (accuracy) behaal je?

In [18]:
# 1
iris = pd.read_csv('../Data/Iris.csv', delimiter=',', decimal='.')
display(iris.head())

   sepal length  sepal width  petal length  petal width       target
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

In [19]:
# 2