# Exercises tests part 2

## Theoretical questions

In [30]:
from scipy.stats import t as student # Student distribution
from scipy.stats import chi2 # Chi-squared distribution
from scipy.stats import ttest_1samp # One-sample t-test
import pandas as pd # Data manipulation
import numpy as np # Numerical computing
import matplotlib.pyplot as plt # Data visualization
import math # Mathematical functions

### Question 1:
- Open the file entry `/gamerps.csv`. Scissors rock paper is a game where you make a choice between these three. However, is there a preference among our scout members regarding the selection test? The expected distribution is proportional. Check whether our count differs from the expected distribution.
     - What is `H0`? `The count in our sample is/is not evenly distributed.`
     - What is the value of `X^2`? (3 significant digits)
     - What is the probability that a sample would have a higher value than `X^2` (p-value)? (3 significant digits)
     - Can `H0` be rejected with `95%` confidence?
     - So can we say that the scout members have a preference?

In [31]:
gamerps = pd.read_csv('../gamerps.csv', delimiter=';', decimal=',')

In [32]:
display(gamerps)

        hand
0   Scissors
1      Paper
2      Paper
3   Scissors
4   Scissors
..       ...
70  Scissors
71  Scissors
72     Paper
73     Paper
74  Scissors

[75 rows x 1 columns]

### Question 2:
- Open the file `/ColorHairBrussels.csv`. This concerns data on the color of the hair of a sample of people in Brussels. The expected distribution of hair colors in Europe are: `30% blonde`, `12% red`, `30% brown`, `25% dark`, and `3% black`. Check whether our count differs from the expected distribution.
     - Which test will you use for this?
     - What is `H0`? `The hair color count in our sample does/does not deviate from the expected distribution.`
     - What `X^2` value do you find?
     - What `p-value` do you find?
     - Can `H0` be rejected with a reliability of `95%` or not?
     - Is there a deviation in Brussels compared to the expected distribution?

In [33]:
colorHairBrussels = pd.read_csv('../colorHairBrussels.csv', delimiter=';', decimal=',')

In [34]:
display(colorHairBrussels)

       hair
0      Dark
1    Blonde
2     Brown
3    Blonde
4     Brown
..      ...
241   Brown
242     Red
243  Blonde
244   Brown
245     Red

[246 rows x 1 columns]

### Question 3:
- We wish to conduct a survey on students' favorite browser. We expect the following distribution:
     - Internet explorer: `8`
     - Opera: `10`
     - Mozilla Firefox: `10`
     - Google chrome: `12`
- When inquiring about `1` class group, the distribution appears as follows:
     - Internet explorer: `17`
     - Opera: `10`
     - Mozilla Firefox: `8`
     - Google chrome: `5`

- Question:
     - Which test are you going to apply?
     - Is this deviation within our expectations (`alpha=0.01`)?
     - What is the critical value of this data?
     - What `X^2` value do you find?
     - What p-value do you find?

### Question 4:
- A programmer has written a Python class to generate random integers between `0` and `10`. This code looks like this:
```python
import math
class Random:
    def __init__(self)-> None:
        self.i = 0
        self.j = 0

    def random_between_0_and_10(self) -> int:
        r = abs(math.sin(51 * self.i ** 2 + math.cos(80 * self.j)) + math.sin(300 * self.j + 3 * math.sin(111 * self.i - self.j)))
        self.j += 1
        if self.j > 100:
            self.i +=1
        if self.i > 100:
            self.i = 0
            self.j = 0
        return math.floor(r * 5.5)
```

- Write a Python program that generates `1100` random numbers and check whether this random number generator works properly (we expect each number `0-10` to appear equally). Use `alpha=0.05`.
     - What `X^2` value do you find?
     - What p-value do you find?
     - What is the confidence interval for `alpha=0.05`?
     - What decision can you make?

## Practical exercises (Python)

In [35]:
studentQuestions = pd.read_csv('../Data1.csv', delimiter=';', decimal=',')

In [36]:
display(studentQuestions)

,gapminder,schrijfhand,schoenmaat,lengte,bloedgroep,resus,siblings,Samenzweringen,rijbewijs,domicilie in Antwerpen,...,M1 - stelen,M2 - team,M3 - beschermen,M4 - voorbeeld,M5 - embryo,M6 - vrijheid,mascotte,zwaarste vak,boeienste vak,studiepunt
0,7/18,Rechts,43.0,184,O,positief,5,De tsunami van 2004 in de Indische Oceaan was ...,Categorie B: Wagens.,"buiten de stad (een dorp, een gehucht, het pla...",...,7,2,8,6,5,4.0,"1=Bever,2=Wasbeer,3=Otter,4=Wolf,5=Poema,6=Pan...",Management 1,Data science 1,16-20 uren
1,3/18,Rechts,42.0,163,Weet ik niet,Weet ik niet,1,Prinses Diana kwam niet per ongeluk om het leven,Categorie AM: Bromfietsen met een maximumsnelh...,in een stad,...,10,5,10,6,7,3.0,"1=Bever,2=Wolf,3=Bizon,4=Otter,5=Panter,6=Poem...",Management 1,Computersystemen 1,<= 10 uren
2,12/18,Rechts,45.0,183,AB,positief,2,Prinses Diana kwam niet per ongeluk om het lev...,Categorie AM: Bromfietsen met een maximumsnelh...,in een stad,...,6,3,7,7,10,6.0,"1=Bruine beer,2=Poema,3=Panter,4=Wolf,5=Vos,6=...",Management 1,Programmeren 1 - Java,16-20 uren
3,5/18,Rechts,44.0,175,A,positief,2,De wereld wordt eigenlijk gecontroleerd door e...,Categorie AM: Bromfietsen met een maximumsnelh...,in een stad,...,9,10,10,10,10,0.0,"1=Wasbeer,2=Wolf,3=Bruine beer,4=Das,5=Vos,6=B...",Management 1,Data science 1,<= 10 uren
4,6/18,Rechts,43.0,173,B,positief,3,De wereld wordt eigenlijk gecontroleerd door e...,Categorie B: Wagens.,in een stad,...,10,6,10,7,7,2.0,"1=Wolf,2=Vos,3=Bruine beer,4=Bizon,5=Panter,6=...",Management 1,Data science 1,<= 10 uren
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,7/18,Rechts,45.0,185,O,negatief,0,De maanlanding is in scne gezet om de Russen ...,Categorie AM: Bromfietsen met een maximumsnelh...,"buiten de stad (een dorp, een gehucht, het pla...",...,10,3,8,8,2,5.0,"1=Panter,2=Poema,3=Wolf,4=Vos,5=Bever,6=Bruine...",Software engineering 1,User interfaces 1,26-30 uren
85,9/18,Rechts,43.0,184,O,Weet ik niet,2,De aanslagen van 9/11 in NY werden niet door t...,Categorie AM: Bromfietsen met een maximumsnelh...,"buiten de stad (een dorp, een gehucht, het pla...",...,8,5,7,8,4,0.0,"1=Panter,2=Poema,3=Vos,4=Wolf,5=Bruine beer,6=...",Data science 1,Programmeren 1 - Embedded,11-15 uren
86,4/18,Links,45.5,190,Weet ik niet,Weet ik niet,0,Prinses Diana kwam niet per ongeluk om het lev...,Categorie AM: Bromfietsen met een maximumsnelh...,in een stad,...,10,5,10,8,9,5.0,"1=Wolf,2=Vos,3=Bruine beer,4=Bever,5=Das,6=Was...",User interfaces 1,Data science 1,16-20 uren
87,8/18,Rechts,45.0,188,A,positief,1,NaN,Categorie B: Wagens.,in een stad,...,8,6,6,7,6,4.0,"1=Otter,2=Wasbeer,3=Vos,4=Bruine beer,5=Bever,...",Netwerken 1,Data science 1,16-20 uren
88,7/18,Rechts,43.0,176,B,positief,2,NaN,Categorie B: Wagens.,in een stad,...,10,5,4,9,3,9.0,"1=Poema,2=Panter,3=Wolf,4=Bruine beer,5=Bizon,...",Data science 1,Programmeren 1 - Java,26-30 uren

### Exercise 1:
- Add a column to the data frame and place the stature of a person expressed in shoe size (i.e. height divided by shoe size)

In [37]:
studentQuestions['stature'] = studentQuestions['lengte'] / studentQuestions['schoenmaat']
display(studentQuestions[['stature','lengte','schoenmaat']])

     stature  lengte  schoenmaat
0   4.279070     184        43.0
1   3.880952     163        42.0
2   4.066667     183        45.0
3   3.977273     175        44.0
4   4.023256     173        43.0
..       ...     ...         ...
84  4.111111     185        45.0
85  4.279070     184        43.0
86  4.175824     190        45.5
87  4.177778     188        45.0
88  4.093023     176        43.0

[89 rows x 3 columns]

### Exercise 2:
- Someone claims that the ratio of height to shoe size of a human being is `4.2` with a standard deviation of `0.05`. Can you agree with this based on the data from the questionnaire? And from what significance level (`alpha`)?

In [38]:
# Null Hypothesis (H0): The true ratio of height to shoe size is 4.2.
# Alternative Hypothesis (H1): The true ratio of height to shoe size is not equal to 4.2.

# Calculate the sample mean and standard deviation
sample_mean = studentQuestions['stature'].mean()
sample_std = studentQuestions['stature'].std()

# Calculate the t-statistic
n = len(studentQuestions)
t_statistic = (sample_mean - 4.2) / (sample_std / math.sqrt(n))

# Calculate the p-value
p_value = 2 * (1 - student.cdf(abs(t_statistic), df=n-1))

# Set the significance level
alpha = 0.05

# Print the results
if p_value < alpha:
    print('Reject the null hypothesis. There is evidence to suggest that the ratio is different from 4.2.')
else:
    print('Fail to reject the null hypothesis. The data does not provide enough evidence to suggest a difference from 4.2.')

Reject the null hypothesis. There is evidence to suggest that the ratio is different from 4.2.

### Exercise 3:
- Determine the `99%` confidence interval for the distance to KdG (remove the outliers first!).

In [52]:
def no_outliers(data): # Return the data without outliers
    Q1 = data.quantile(0.25)
    Q3 = data.quantile(0.75)
    I = Q3 - Q1
    low = Q1 - 1.5 * I
    high = Q3 + 1.5 * I
    outliers = data[(data < low) | (data > high)]
    
    print("Low: ",low)
    print("High:",high)
    print("Len: ",len(data))
    print("Outliers:", outliers.values, "\n")
    return data[(data >= low) & (data <= high)]

distance = no_outliers(studentQuestions['afstand tot KdG'])
s = distance.std() # s = Sample standard deviation
x_bar = distance.mean() # x_bar = Sample mean
n = len(distance) # n = Population size
df = n - 1 # df = Degrees of freedom
p = 0.99 # p = Confidence level


factor = student.ppf(p, df=df) # factor = Z-score
print("Factor:",factor)
interval = student.interval(confidence=p, df=df, loc=x_bar, scale=s/math.sqrt(n))
print("Confidence Interval:",interval)

Low:  -16.650000000000002
High: 43.75
Len:  89
Outliers: [48. 44. 44.]

Factor: 2.371022043913763
Confidence Interval: (10.652390235958102, 16.5383074384605)

### Exercise 4:
- Iemand beweert dat de afstand tot KdG gemiddeld 19 km bedraagt. Vanaf welk significantieniveau (alpha) kan je de bewering niet weerleggen?

### Exercise 5:
- Verdeling over de verschillende bloedgroepen {"O":0.45, "A":0.4, "B":0.1, "AB":0.05}. Kan je dit op basis van de steekproef weerleggen? Neem alpha = 0,05.